/* .machine{
  padding: 328px 0 0 0;
}
.machine1{
  padding: 279px 0 0 0;
}
.machine img{
  height: 124px;
  width: 283px;
  margin-right: 280px;
}
.machine1 img{
  height: 171px;
  width: 261px;
} */