.submit button{
  -webkit-app-region: no-drag;
  position: relative;
  width: 134px;
  height: 38px;
  padding: 0px 0px;
  font-family: 'Avenir';
  font-size: 16px;
  color: #615648;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #eef2f6, #aec1b1 90%);
  border: none;
  border-radius: 20px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  cursor: pointer;
}
.checked {
  width: 38px;
  height: 38px;
  border-radius: 40px;
  box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  justify-content:center;
  align-items:center;
  top: 0px;
  opacity: 0;
  background: #fbba4c;
}
.checked svg {
  width: 20px;
}
.checked path {
  stroke-width: 3;
  stroke: #fff;
  stroke-dasharray: 34;
  stroke-dashoffset: 34;
  stroke-linecap: round;
}
.active button {
  background: #fbba4c;
  border: 1px solid white;
  transition: 1s;
}
.active p {
  transition: 1s;
  margin-right: 50px;
}
.active .checked {
  opacity: 1;
  transition: 1s;
  right: 0;
}
.active .checked path {
  transition: 1s;
  transition-delay: 1s;
  stroke-dashoffset: 0;
}